@mixin text($size) {
	text-align: center;
	font-size: $size;
}

@mixin size($height, $width){
	height: $height;
	width: $width;
}

.header{
	@include text(40px);
	padding-top: 10px;
	color: black;
	font-family: verdana;
	font-weight: bold;
}

.buttonContainer{
	@include size(25px, 1000px)
    margin: auto;

	button{
			float: right;
		    top: 15px;
		}
}




#timelinePlaceholder{
	width: 1000px;
	margin: 10px auto auto;

	border: {
		style: solid;
		width: 1px;
	}

	.tweet {
		padding: 10px 0px;
		@include size(110px, 1000px);
		border: 0px 0px 1px solid lightgrey;

		.rightColumn{
			padding-top: 30px;
			@include size(60px, 80%);
			float: right;
			margin: auto;
			text-align: left;

			.dateBlock{
				font-size: 12px;
				padding-bottom: 5px;
				font-style: italic;
			}	

		
		}
		.leftColumn{
			padding: 10px 0px 0px 10px;
			@include size(100px, 15%);
			clear: both;
			float: left;
			margin: auto;
			vertical-align: middle;

			.image{
				@include size(60px, 60px);
				border-radius: 50%;
				display: block;
				margin: 0px auto;
			}
			
			.userName{
				padding-top: 5px;
				width: 150px;
				@include text(15px);
				font-weight: bold;
			
			}

			.twitterHandle{
				@include text(12px);
			
			}
		}
	}
}
	





	

