h1{
	padding-top: 10px;
	color: black;
	text-align: center;
	font-size: 40px;
	font-family: verdana;
	font-weight: bold;

}

button{
	position: absolute;
	top: 65;
	right: 210;

}

#timelinePlaceholder{
	width: 1500px;
	border-style: solid;
	border-width: 1px;
	border-right-width: 3px;
	margin: auto;
}

div.tweet {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 110px;
	width: 1500px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

img{
	height: 60;
	width: 60;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

div.userName{
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

div.twitterHandle{
	text-align: center;
	font-size: 12px;
}

div.dateBlock{
	font-size: 12px;
	padding-bottom: 5px;
	font-style: italic;
}

div.leftColumn{
	padding-top: 10px;
	padding-left: 10px;
	height: 100px;
	width: 10%;
	float: left;
	margin: auto;
	vertical-align: middle;
}

div.rightColumn{
	padding-top: 30px;
	height: 60px;
	width: 88%;
	float: right;
	margin: auto;
	text-align: left;
}